/*
[[Background Colour | colour | #fff| {equired: true, group: General, groupOrder: 1, order: 3}]]
[[Background Image Colour | colour | #F3F5F7| {equired: true, group: General, order: 4}]]
[[Image URL | string || {required:true, group: General, order: 1}]]
[[Font | enum(Arial,Arial Narrow,Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) |Arial|{group: General, order: 2}]];
[[CTA Colour | colour | #000 | {equired: true, group: CTA Button, groupOrder: 4, order: 2}]]
[[CTA Text Colour | colour | #fff | {equired: true, group: CTA Button, order: 3}]]
[[CTA Hover Color | colour | #9e9e9e |{ required: true, group: CTA Button, order: 4} ]]
[[CTA Text Hover Color | colour | #fff | { required: true, group: CTA Button, order: 5} ]]
[[Secondary Colour | colour | #F3F5F7 | {equired: true, group: Secondary Button, groupOrder: 5, order: 2}]]
[[Secondary Text Colour | colour | #000 | {equired: true, group: Secondary Button, order: 3}]]
[[Secondary Hover Color | colour | #fff |{ required: true, group: Secondary Button, order: 4} ]]
[[Secondary Text Hover Color | colour | #000 | { required: true, group: Secondary Button, order: 5} ]]
[[Title Text Colour | colour | #4D4D4D | {group: Title, groupOrder: 2, order: 2}]]
[[Title Text Font Size | number | 36 | { group: Title, order: 3 }]]
[[Description Text Colour | colour | #4D4D4D | { group: Description, groupOrder: 3, order: 2 }]]
[[Description Text Font Size | number | 16 | { group: Description, order: 3 }]]
[[Message Color | colour | #f44336 | { group: Validation, order: 2 }]]
*/

#bx-{{ref}} a,
#bx-{{ref}} p,
#bx-{{ref}} span {
  font-family: [[ Font ]];
  font-weight: 400;
  line-height: 1.2;
}

#bx-{{ref}} #bx-transition-card {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 75%;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    overflow: auto;
    width: 450px;
    right: 0;
    bottom: 000px;
    z-index: 999999;
    transition: bottom .6s ease-in-out;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: [[Background Colour]];
    box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0,0,0,.1);
    font-size: initial;
}

#bx-{{ref}} #bx-transition-card.open {
    bottom: 0;
}

#bx-{{ref}} #bx-transition-card .img-container {
    width: 100%;
    height: 250px;
}

#bx-{{ref}} #bx-transition-card .img-container__image {
    margin: 0;
    background: [[Background Image Colour]];
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-image: url("[[Image URL]]");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bx-{{ref}} #bx-transition-card .bx-transition-card__body {
    padding: 37px 34px;
}

#bx-{{ref}} #bx-transition-card .bx-transition-card__body h3 {
    margin-top: 28px;
    line-height: 1.5;
    font-size: [[ Title Text Font Size ]]px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: [[Title Text Colour]];
    font-family: [[Font]];
}

#bx-{{ref}} #bx-transition-card .bx-transition-card__body p {
    padding-top: 12px;
    margin: 0;
    font-size: [[ Description Text Font Size ]]px;
    line-height: 28px;
    text-align: center;
    color: [[Description Text Colour]];
    font-family: [[Font]];
}

#bx-{{ref}} #bx-transition-card .options-container {
    display: flex;
    justify-content: center;
}

#bx-{{ref}} #bx-transition-card .options-container__primary {
    display: inline-block;
    border-radius: 4px;
    color: [[CTA Text Colour]];
    background-color: [[CTA Colour]];
    padding: 10px 30px;
    cursor: pointer;
    font-size: [[Font]];
}

#bx-{{ref}} #bx-transition-card .options-container__primary:hover {
  color: [[CTA Text Hover Color]];
  background-color: [[CTA Hover Color]];
}

#bx-{{ref}} #bx-transition-card .options-container__secondary {
    display: inline-block;
    border: 1px solid #C1C9D0;
    border-radius: 4px;
    color: [[Secondary Text Colour]];
    background-color: [[Secondary Colour]];
    padding: 10px 30px;
    margin-right: 13px;
    cursor: pointer;
    font-size: [[Font]];
}

#bx-{{ref}} #bx-transition-card .options-container__secondary:hover {
  color: [[Secondary Text Hover Color]];
  background-color: [[Secondary Hover Color]];
}

.rate {
    display: block;
    margin: auto;
    width: 45%;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#message{
    color: [[ Message Color ]] !important;
    margin: auto;
    width: 100%;
    text-align: left;
    padding-bottom: 12px;
}